footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-top: 1px solid #e3e3e3;
  padding: 10px;
  text-align: center;
}

@media (max-width: 876px) and (orientation: landscape) {
  footer {
    padding: 2px;
    font-size: 0.7rem;
  }
}
