header {
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  background-color: white;
}
header h1 {
  font-family: "Montserrat, sans-serif";
  margin-left: 30px;
}

.showBurger {
  display: none;
}
