header {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
@media (max-width: 876px) and (orientation: landscape) {
  header {
    padding: 0;
    margin-bottom: 0.3rem;
  }
}

.header__logo {
  display: flex;
}

.header__img {
  height: 50px;
  margin-left: 20px;
}
@media (max-width: 876px) {
  .header__img {
    height: 30px;
  }
}
header h1 {
  margin-left: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 876px) {
  header h1 {
    font-size: 1.1rem;
  }
}

.showBurger {
  display: none;
}
