main {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  max-width: 1600px;
  width: 100%;
}

.mapWrapper {
  text-align: center;
  flex-grow: 1;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

@media (max-width: 876px) {
  .sortPanel {
    width: 200px;
  }
  .mapWrapper {
    left: 200px;
  }
}

@media (max-width: 876px) and (orientation: landscape) {
  .sortPanel {
    display: none;
  }
  .mapWrapper {
    top: 0;
    left: 0;
    margin-left: 10px;
  }
  .showBurger {
    display: block;
  }
  .none {
    display: none;
  }

  .active {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
  }
  .sortPanel__panelwrap {
    flex-basis: 49%;
    border: 1px solid black;
    margin: 2px;
  }
  .sortPanel__title {
    flex-basis: 100%;
    height: 40px;
  }
  .sortPanel__modul {
    padding: 0;
  }
}

@media (max-width: 876px) and (orientation: portrait) {
  .sortPanel {
    display: none;
  }
  .mapWrapper {
    top: 0;
    left: 0;
    margin-left: 10px;
  }
  .showBurger {
    display: block;
  }
  .none {
    display: none;
  }

  .active {
    display: block;
    width: 100%;
  }
}

@media (max-height: 750px) and (orientation: landscape) {
  .sortPanel {
    display: none;
  }
  .mapWrapper {
    top: 0;
    left: 0;
    margin-left: 10px;
  }
  .showBurger {
    display: block;
  }
  .none {
    display: none;
  }

  .active {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
  }
  .sortPanel__panelwrap {
    flex-basis: 49%;
    border: 1px solid black;
    margin: 2px;
  }
  .sortPanel__title {
    flex-basis: 100%;
    height: 40px;
  }
  .sortPanel__modul {
    padding: 0;
  }
}